*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body{
  width: 100vw;
}
.app_header{
  width:100%;
  background-color: #ededed;
  padding: 20px;
}

.app_header > input {
  width: 100%;
  height: 30px;
  border-radius: 30px;
  border: none;
  padding:  20px;
}

.app_header > Button {
  display: flex;
  margin: auto;
  margin-top: 10px;
}

.app_body_grid{
  display: grid;
  grid-template-columns: repeat(4,1fr);
}